rag_data/telegram-demo.json
{
  "nodes": [
    {
      "parameters": {
        "options": {
          "systemMessage": "Ты консультант по продаже сотовых телефонов"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -32,
        -112
      ],
      "id": "a2d4990a-32af-40de-bc21-b2fe56b88270",
      "name": "AI Agent",
      "alwaysOutputData": false,
      "executeOnce": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "kn_base",
        "toolDescription": "Цены на телефоны"
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.1,
      "position": [
        208,
        112
      ],
      "id": "453b0562-a8f6-4892-972c-91bcc822190e",
      "name": "Simple Vector Store1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt://b1g8i6bj34avp7kulp7h/yandexgpt-lite/latest",
          "mode": "list",
          "cachedResultName": "gpt://b1g8i6bj34avp7kulp7h/yandexgpt-lite/latest"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -112,
        176
      ],
      "id": "cad20333-7077-455a-a61c-096513305be4",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "PTAXStJ39kjZD4Jh",
          "name": "Ya account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        208,
        304
      ],
      "id": "7792dcc3-b6de-4b94-bb0a-fd3344f55fc1",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "oBy39eoETxVvfNP8",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "*"
        ],
        "additionalFields": {}
      },
      "id": "579f0f8d-9433-41af-8468-d68d1c44bbc1",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -480,
        -112
      ],
      "webhookId": "51942fbb-ca0e-4ec4-9423-5fcc7d3c4281",
      "typeVersion": 1,
      "credentials": {
        "telegramApi": {
          "id": "excJnzPpQwwol2gj",
          "name": "test_010625_bot"
        }
      }
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "chatInput",
              "value": "={{ $json.message.text }}"
            },
            {
              "name": "sessionId",
              "value": "={{ $json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "bd152701-70de-4277-85b7-602935c7c968",
      "name": "PreProcessing",
      "type": "n8n-nodes-base.set",
      "position": [
        -240,
        -112
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "chatId": "={{ $('PreProcessing').item.json.sessionId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "cb09fc28-b9a5-423a-bbf0-19b3fc201afa",
      "name": "Text reply",
      "type": "n8n-nodes-base.telegram",
      "position": [
        368,
        -128
      ],
      "typeVersion": 1,
      "webhookId": "a01826dc-7b4c-4446-acfc-cf2849435b08",
      "credentials": {
        "telegramApi": {
          "id": "excJnzPpQwwol2gj",
          "name": "test_010625_bot"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        64,
        144
      ],
      "id": "18255e9a-2876-4d8c-94f9-1dfc879e792e",
      "name": "Simple Memory"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Text reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Simple Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "PreProcessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PreProcessing": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "033f968abd1fcef8e487eaa078bae074c4c766d164278ae78f46eecae4d6b2bc"
  }
}